.MuiLinearProgress-root{
    width: 70%;
}

.MuiLinearProgress-bar{
    background-color: #616161;
}

.slider{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px ;
    padding-right: 50px;
   

}

.slider > p{
    box-sizing: border-box;
    background-color: #616161;
    color: #fff;
    min-width: auto;
    padding-left: 10px;
    padding-right: 5px;
    width: 20%;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}