.top_nav {
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding: 0 2%;
}


.MuiToolbar-root{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 7vh;
}



.navCover{
    display: flex;
    flex: 2;
    justify-content: flex-start;
    align-items: center;
    
}


.logo_div{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    
}


.navTopBotton{
   background-color: #d8d8d8;
    margin-right: 5px;
    height: 13vh;
    width: 20%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d8;
    transition: all 0.1s;
}

.navTopBotton:hover{
background-color: #aa84e0;
cursor: pointer;
transition: all 1s;
}

.navTopBotton:hover>*{
    transform: scale(1.4,1.4);
    transition: all 1.3s;
}


@media screen and (max-width: 465px){

  .logo_div{
      display: none;
  }

  .navTopBotton{
      height: 8vh;
  }

}